<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="db" class="ru.innopolis.dz_16.task_1.CustomDBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.postgresql.Driver</driverClass>
            <url>jdbc:postgresql://localhost:5432/dz_15</url>
            <user>postgres</user>
            <password>postgres</password>
        </connectionSource>
    </appender>

    <root level="INFO">
        <appender-ref ref="db"/>
    </root>

</configuration>